<section class="breadcrumb-area profile-bc-area">
  <div class="container">
    <div class="content">
      <h2 class="title extra-padding">
        Inbox
      </h2>
    </div>
  </div>
</section>
<section class="community-section inner-page mt-2">
  <div class="container">
    <div>
      <tabset #staticTabs>
        <tab heading="All" (selectTab)="loadProfiles('all')">
          <app-profile-view [dataLists]="dataLists"></app-profile-view>
        </tab>
        <tab heading="My Matches" (selectTab)="loadProfiles('mymatches')">
          <app-profile-view [dataLists]="dataLists"></app-profile-view>
        </tab>
        <tab heading="My Favourites" (selectTab)="loadProfiles('favourite')">
          <app-profile-view [dataLists]="dataLists"></app-profile-view>
        </tab>
        <tab heading="Not Interested" (selectTab)="loadProfiles('notinterested')">
          <app-profile-view [dataLists]="dataLists"></app-profile-view>
        </tab>
      </tabset>
    </div>


  </div>
</section>