<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a class="cursor-pointer">
                    <img src="assets/images/logo/logo-header.jpg" alt="logo" class="not-scrolled">
                    <img src="assets/images/logo/logo2.png" alt="logo" class="scrolled">
                </a>
            </div>
            <ul class="menu">
                <li *ngIf="!isLoggedIn">
                    <a href="javascript:void(0);" routerLink="/" [ngClass]="{'active':router.url=='/'}">Home</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a href="javascript:void(0);" routerLink="/inbox" [ngClass]="{'active':router.url=='/inbox'}">Inbox</a>
                </li>
                <li *ngIf="isLoggedIn&&userDetails.status!=3">
                    <a href="javascript:void(0);" routerLink="/upgrade">Upgrade</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a href="javascript:void(0);" routerLink="/preferences" [ngClass]="{'active':router.url=='/preferences'}">Preferences</a>
                </li>
                <li *ngIf="!isLoggedIn">
                    <a href="javascript:void(0);" routerLink="/login">Login</a>
                </li>
                <li class="user-profile" *ngIf="isLoggedIn">
                    <a href="javascript:void(0);">
                        <!-- <img src="assets/images/user-demo.png" alt=""> -->
                        <span *ngIf="profileImage" class="mr-2"><img src="{{imagePath}}{{profileImage}}" class="header-profile-pic"></span>
                        <span *ngIf="!profileImage" class="mr-2"><i class="fa fa-user" aria-hidden="true"></i></span> {{userDetails.firstname}}
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0);" routerLink="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="search-overlay">
    <div class="close"><i class="fas fa-times"></i></div>
    <form action="#">
        <input type="text" placeholder="Write what you want..">
    </form>
</div>
<!-- ==========Header-Section========== -->