<section class="log-reg">
    <div class="top-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <a routerLink="/" class="backto-home"><i class="fas fa-chevron-left"></i> Back to Home</a>
                </div>
                <div class="col-lg-7 ">
                    <!-- <div class="logo">
                <img src="assets/images/logo/logo2.png" alt="logo" class="w-100">
              </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="image image-log">
            </div>
            <div class="col-lg-8">
                <div class="log-reg-inner">
                    <div class="section-header inloginp">
                        <h2 class="title">
                            Welcome to ShaadiGuru <img src="{{previewImage}}" class="profile-preview-image" *ngIf="previewImage">
                        </h2>
                    </div>
                    <div class="main-content inloginp">
                        <form [formGroup]="formGroup">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">First Name</label>
                                        <input type="text" class="form-control" placeholder="First Name"
                                            formControlName="firstname">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name"
                                            formControlName="lastname">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" class="form-control" placeholder="Password"
                                            formControlName="password">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Gender</label>
                                        <select class="form-control" formControlName="gender">
                                            <option value="" disabled>Select Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Reg Mobile Number</label>
                                        <input type="text" class="form-control" placeholder="Mobile Number"
                                            formControlName="phone" maxlength="10" appAcceptNumberOnly (change)="updateMobile()">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">DOB</label>
                                        <input type="date" class="form-control" formControlName="dob" [max]="today">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Upload Profile Pic</label>
                                        <input type="file" class="form-control" #image (change)="onFileChange(image.files)">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Nationality</label>
                                        <select class="form-control" formControlName="nationality">
                                            <option value="" disabled>Select Nationality</option>
                                            <option value="Indian">Indian</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Mother Tongue</label>
                                        <select class="form-control" formControlName="languageid">
                                            <option value="" disabled>Select Mother Tongue</option>
                                            <option *ngFor="let language of languageLists" value="{{language.id}}">
                                                {{language.description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Religion</label>
                                        <select class="form-control" formControlName="religionid" (change)="updateReligion()">
                                            <option value="" disabled>Select Religion</option>
                                            <option *ngFor="let religion of religionLists" value="{{religion.id}}">
                                                {{religion.description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="">Caste</label>
                                        <select class="form-control" formControlName="casteid">
                                            <option value="" disabled>Select Caste</option>
                                            <option *ngFor="let caste of casteLists|casteFilter:formGroup.value.religionid" value="{{caste.id}}">
                                                {{caste.description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Sub caste</label>
                                        <input type="text" class="form-control" placeholder="Sub caste"
                                            formControlName="subCaste" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City"
                                            formControlName="city" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" placeholder="State"
                                            formControlName="state" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>National</label>
                                        <input type="text" class="form-control" placeholder="National"
                                            formControlName="national" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Pincode</label>
                                        <input type="text" class="form-control" placeholder="Pincode"
                                            formControlName="pincode" autocomplete="off" appAcceptNumberOnly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Educational</label>
                                        <select class="form-control" formControlName="educational">
                                            <option value="" disabled>Select Educational</option>
                                            <option value="Matriculation">Matriculation</option>
                                            <option value="Graduate">Graduate</option>
                                            <option value="Post Graduate">Post Graduate</option>
                                            <option value="Professional">Professional</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Occupation</label>
                                        <select class="form-control" formControlName="occupation">
                                            <option value="" disabled>Select Occupation</option>
                                            <option value="Govt Salaried">Govt Salaried</option>
                                            <option value="Pvt Salaried">Pvt Salaried</option>
                                            <option value="Business">Business</option>
                                            <option value="Professional">Professional</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <!-- <input type="text" class="form-control" placeholder="Occupation"
                                            formControlName="occupation" autocomplete="off"> -->
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Annual Income</label>
                                            <input type="text" class="form-control" placeholder="Annual Income"
                                                formControlName="annualincome" autocomplete="off" appAcceptNumberOnly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Food Habit</label>
                                        <select class="form-control" formControlName="foodHabit">
                                            <option value="" disabled>Select Food Habit</option>
                                            <option value="Veg">Veg</option>
                                            <option value="Non-Veg">Non-Veg</option>
                                            <option value="Only Egg">Only Egg</option>
                                        </select>
                                    </div>
                                </div>
                                

                            </div>
                            <hr *ngIf="showOtp">
                            <div class="row" *ngIf="showOtp">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <div class="form-group text-center">
                                        <label>OTP</label>
                                        <input type="password" class="form-control" placeholder="OTP"
                                        formControlName="otp" autocomplete="off" appAcceptNumberOnly>
                                                <span class="resend-button" (click)="resendOtp()">Resend Otp</span>
                                    </div>
                                </div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-12">
                                    <p class="otp-message">Otp sent to registered mobile number</p>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" class="form-control" placeholder="Enter Your Password"
                    formControlName="password">
                </div> -->
                            <div class="button-wrapper" *ngIf="!showOtp">
                                <button type="submit" class="custom-button" (click)="verifyotp()" [ngClass]="{'disabled':formGroup.invalid }" [disabled]="formGroup.invalid">Send Otp</button>
                            </div>
                            <div class="button-wrapper" *ngIf="showOtp">
                                <button class="custom-button" (click)="verify()" [ngClass]="{'disabled':formGroup.invalid }" [disabled]="formGroup.invalid">Register Now</button>
                            </div>
                            <div class="or">
                                <p>OR</p>
                            </div>
                            <div class="or-content">
                                <!-- <p>Sign up with your email</p>
                    <a href="#" class="or-btn"><img src="assets/images/google.png" alt=""> Sign Up with Google</a> -->
                                <p class="or-signup">
                                    Already have an account? <a routerLink="/login">
                                        Sign In here
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>