<!-- ==========Newslater-Section========== -->
<footer class="footer-section">
    <img class="shape1" src="assets/images/footer/f-shape.png" alt="">
    <img class="shape2" src="assets/images/footer/flower01.png" alt="">
    <img class="shape3" src="assets/images/footer/right-shape.png" alt="">
    <div class="newslater-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="newslater-container">
                        <div class="newslater-wrapper">
                            <div class="icon">
                                <img src="assets/images/footer/n-icon.png" alt="">
                            </div>
                            <p class="text">Sign up to recieve a monthly email on the latest news!</p>
                            <form class="newslater-form">
                                <input type="text" placeholder="Your Email Address">
                                <button type="submit">
                                    <i class="fab fa-telegram-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-links">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="hr">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="link-wrapper one">
                        <ul class="f-solial-links">
                            <li>
                                <a href="javascript:void(0);" routerLink="/about-us">
                                    <i class="fas fa-angle-double-right"></i> About Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="link-wrapper two">
                        <ul class="f-solial-links">
                            <li>
                                <a href="javascript:void(0);" routerLink="/contact-us">
                                    <i class="fas fa-angle-double-right"></i> Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="link-wrapper three">
                        <ul class="f-solial-links">
                            <li>
                                <a href="javascript:void(0);" routerLink="/privacy-policy">
                                    <i class="fas fa-angle-double-right"></i> Privacy policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="link-wrapper four">
                        <ul class="f-solial-links">
                            <li>
                                <a href="javascript:void(0);" routerLink="/terms-and-conditions">
                                    <i class="fas fa-angle-double-right"></i> Terms and Agreements
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
              <div class="col-lg-3 col-sm-6">
                    <div class="link-wrapper one">
                        <ul class="f-solial-links">
                            <li>
                                <a href="javascript:void(0);" routerLink="/refund-policy">
                                    <i class="fas fa-angle-double-right"></i> Refund Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="hr2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="copyr-text">
                        <span>
                            Copyright © 2022.All Rights
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- <ul class="footer-social-links">
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ==========Newslater-Section========== -->
