/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
    cursor: pointer;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #d50000a8 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #980303 !important;
}